.btn, button, a.btn {
    font-size: 1.6rem;
    outline: none;
    box-shadow: none;
    border: none;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 1rem 2rem;
    color: $black;
    font-weight: 400;
    cursor: pointer;
    border-radius: 8px;
    // position: relative;

    &.fill-white {
        background-color: $white;
        box-shadow: 0px 12px 40px #cdd0d5;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        @media (prefers-color-scheme: dark) {
            box-shadow: $darkModeShadow;
            background-color: $black;
            color: $white;
        }
    }

    &.arrow-right {
        svg {
            display: inline-block;
            margin-left: 10px;
            width: 7px;

            @media (prefers-color-scheme: dark) {
                path{ fill: $white }
            }
        }
    }

    &.img-right {

        img,
        svg:not(.arrow-svg) {
            width: 3rem;
            display: inline-block;
            margin-left: 1rem;
        }
    }

    &.img-left {

        img,
        svg:not(.arrow-svg) {
            width: 3rem;
            display: inline-block;
            margin-right: 1rem;
        }
    }

    &.btn-icon {
        background-color: inherit;
        padding: 0.8rem;
        box-shadow: none;
        border-radius: 32px;
        border: none;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        cursor: pointer;
        transition: transform 0.2s ease-out;
        border: 1px solid #F3F3F3;

        @media (prefers-color-scheme: dark) {
            border: 1px solid $white;
        }
        
        svg,
        img {
            width: 20px;

            @media (prefers-color-scheme: dark) {
                &.darkMode-path path{
                    fill: $white;
                }
                &.darkMode-stroke path{
                    stroke: $white;
                }
            }
        }

        &.text{
            svg{
                margin-right: 3px;
            }

            @media (prefers-color-scheme: dark){
                color: $white;
            }
        }

        // &:not(.start-farm) {
        //     border: 1px solid #F3F3F3;
        // }

        &:hover {
            transform: scale(1.03);
        }
    }

    &.submit-form-btn{
        border: none;
        background-color: $blue;
        color: $white;
        padding: 1.5rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s ease-out;
        width: 100%;

        // @media (prefers-color-scheme: dark) {
        //     box-shadow: $darkModeShadow;
        //     background-color: $black;
        //     color: $white;
        // }

        &:hover{
            transform: scale(1.02);
        }

        &:disabled{
            cursor: no-drop;
            background-color: $white;
            border: 1px solid #ECECEF;
            color: #8F92A1;
            &:hover{
                transform: scale(1) ;
            }
        }

        svg, img {
            margin-right: 1rem;
            width: 10px;
            path{
                fill: $white;
            }
        }
    }
}