@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: $sans-serif;
    color: var(--black);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 500
}

h1, .h1 {
    @include fontsize(3rem, 3.5rem, 4rem);
}
h2, .h2 {
    @include fontsize(2rem, 3rem, 4rem);
}
h3, .h3 {
    @include fontsize(2.4rem, 2.8rem, 3.2rem);
}
h4, .h4  {
    @include fontsize(2rem, 2.2rem, 2.4rem);
}
h5, .h5 {
    @include fontsize(1.6rem, 2rem, 2rem);
}
h6, .h6 {
    @include fontsize(1.4rem, 1.7rem, 1.7rem);
}

ol, ul, li {
    @include fontsize(1.6rem, 1.7rem, 2rem);
    font-weight: 500;
}

/**
 * ACCENTS
 */
p {
    @include fontsize(1.6rem, 1.6rem, 1.6rem);

    &.is-small{
        @include fontsize(1.2rem, 1.2rem, 1.2rem);
    }
    &.is-medium{
        @include fontsize(1.4rem, 1.4rem, 1.4rem);
    }

    a{
        color: var(--blue);

        background-color: var(--white);
    }
}

.is-rock{
    color: var(--rockGray);
}

input, textarea{
    font-family: $sans-serif;
}