div.form-container {

    .form-header {
        border-bottom: 1px solid $gray;
        padding: 3rem;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;

        input[type=text] {
            width: 100%;
            border-radius: 8px;
            background-color: $gray;
            box-shadow: none;
            border: none;
            padding: 1rem;

            @media (prefers-color-scheme: dark) {
                background-color: $darkmodeRow;
                color: $white;
            }

            &::placeholder {
                color: #C0C0C1;

                @media (prefers-color-scheme: dark) {
                    color: $rockGray;
                }
            }
        }

        .form-section {
            margin-bottom: 2rem;
        }

        .section-label {
            margin: 0;
            color: #504F54;
            margin-bottom: 1rem;

            @media (prefers-color-scheme: dark) {
                color: $white;
            }
        }


        .farm-number-container {
            font-weight: 300;
        }

        // #reset {
        //     width: 100%;
        //     display: block;
        // }
    }
}