.notes-container{

    .section-label {
        margin: 0;
        color: var(--sectionLabelColor);
        margin-bottom: 1rem;

    }

    textarea {
        width: 100%;
        border-radius: 8px;
        background-color: $gray;
        box-shadow: none;
        border: none;
        padding: 1rem;
        resize: none;
        color: var(--inputFieldsColor);
        font-size: 1.2rem;
        background-color: var(--darkmodeRow);

        &::placeholder {
            color: var(--inputPlaceholderFieldsColor);
        }
    }
}