div.vide-library {
    display: flex;
    background-color: var(--darkmodeAppBkg);

    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        
        min-height: 100vh;
        // height: 100vh;
        width: 100vw;
        
        padding: 3rem;
        column-gap: 3rem;
        row-gap: 3rem;



        .grid-child {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            
            &:not(.app-header) {
                box-shadow:var(--darkModeShadow);
                background-color: var(--white);
            }
        }

    }

    div.app-header{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .videos-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 3rem;
        // overflow: hidden;

        >div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;

            column-gap: 3rem;
            row-gap: 3rem;
        }   
    }

    .add-farm-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

}