label.color-picker-radio{
    width: 30px;
    height: 30px;
    cursor: pointer;

    [type=radio] , [type=color]{
        position: absolute;
        opacity: 0;
    }

    [type=radio]+div, [type=color]+div {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 2px;

        div{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        // width: 82px;
        // height: 67px;
    }

    [type=radio]:checked+div, [type=color]:checked+div {
        border: 3px solid;
    }
}