div.app-header{

    >div{
        display: flex;
        justify-content: space-between;

        >div{
            p{
                margin: 0;
                max-width: 650px;
                color: $rockGray;

                em{
                    font-size: 1.1rem;
                }
            }
        }

        .buttons-container{
            display: flex;
            align-items: center;
        }
    }

    h1{
        margin-bottom: 1rem;
    }


    .btn{

        height: 50px;
        // background-color: $darkmodeGridBkg;

        &:nth-child(1){
            margin-right: 2rem;
        }
    }
}