div.farms{

    // overflow: scroll;
    // height: calc(100% - 7rem);

    >div{

        display: flex;
        align-items: center;
        border-radius: 12px;

        // >div{
        //     margin-right: auto;
        // }

        &:nth-child(even){
            background-color: $gray;
        }
    }
}