div.import-farms {

    h5 {
        margin-bottom: 2.5rem;
    }

    form {
        .dz-preview {
            // display: none;
        }

        .clickImportE{
            pointer-events: none;
        }

        >div {
            width: 100%;
            height: 140px;
            background-color: var(--darkmodeRow);
            padding: 1rem;
            margin-bottom: 2rem;
            // border: 1px dashed #8F92A1;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='9' ry='9' stroke='#8F92A1' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 8px;
            transition: all 0.2s linear;
            color: var(--black);


            &.is-dragover{
                background-color: #c6ceff;
                label{
                    .img-container{
                        background-color: #c6ceff;

                        svg{
                           path:nth-child(2){
                                animation: upload 1s ease-out infinite;
                           } 
                        }
                    }
                }
            }

            label {
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                div.img-container {
                    padding: .5rem;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #F4F5F6;
                    margin-bottom: 1rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.2s linear;

                    svg {
                        width: 24px;
                        overflow: visible;
                    }
                }

                p {
                    color: #8F92A1;
                    margin: 0;

                    span {
                        color: $blue;
                        font-weight: 500;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                }
            }
        }

    }

    @keyframes upload {
        0%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}