div.pop-up{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 999;
    // display: none;
    visibility: hidden;

    &#edit-pop-up{
        .container{
            height: 700px; 
        }
    }
    &#mass-edit-pop-up{
        .container{
            height: 290px; 
            width: 500px;
        }
    }
    &#about-pop-up{
        .container{
            height: 90%; 
            width: 650px;
            overflow: scroll;
        }
        //delete
        // visibility: visible;
        // .screen{
        //     opacity: 1;
        //     transition: all 0.4s linear;
        // }
        // .container{
        //     transform: translateY(0%);
        //     opacity: 1;
        // }
    }

    &.open{
        // display: block;
        visibility: visible;
        .screen{
            opacity: 1;
            transition: all 0.4s linear;
        }
        .container{
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .screen{
        height: inherit;
        width: inherit;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    .container{
        position: absolute;
        border-radius: 16px;
        // height: 650px;
        width: 550px;
        inset: 0;
        margin: auto;
        background-color: $white;
        transform: translateY(-2%);
        opacity: 0;
        transition: all 0.3s ease-out;

        // padding: 2rem 3rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        .pop-up-header{
            padding: 2rem 5rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $gray;
        }

        .pop-close{
            background-color: unset;
            border: none;
            padding: 0;
            cursor: pointer;
            padding: 3px;

            img{
                width: 1.5rem;
            }
        }

        h2{
            margin-top: 0;
        }

        .file-type-container{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2rem;

            label{
                display: inline-flex;
                align-items: center;
                input{
                    margin: 0;
                    margin-right: 5px;
                }
            }
        }
    }
}