{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layouts/base" %}

{# Add a dns prefetch header #}
{% set baseUrl = url() %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}

{% block body %}

    <main class="{{ entry.slug ?? 'main' }}" id="main-content">
       {% block content %}
       
       {% endblock %}
    </main>

    

{% endblock %}