/*-----------------------------------*\
    COLORS
\*-----------------------------------*/
$black: #232323;
$darkGray: #2E2C34;
$white: #fff;
$gray: #F9F9FA;
$rockGray: #84818A;
$green: #4FBF67;
$blue: #3757FF;

// dark mode
$darkmodeAppBkg: #1B1D1E;
$darkmodePopBkg: #2d2f30;
$darkmodeGridBkg: #3e4143;
$darkmodeRow: #292c2d;
$darkModeShadow: 0px 0px 8px #000000;

/*-----------------------------------*\
    FONTS
\*-----------------------------------*/
$sans-serif: 'Manrope', sans-serif;

/*-----------------------------------*\
    BREAKPOINTS IN CORRECT ORDER
\*-----------------------------------*/

$mobile-small-BP: 400px;
$mobile-BP: 640px;
$tablet-BP: 768px;
$desktop-BP: 1024px;
$desktop-big-BP: 1280px;
$desktop-extra-big-BP: 1366px;
$desktop-max-big-BP: 1600px;
