html{
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 1rem;
    img{
        width: 250px;
    }
    span{
        display: inline-block;
        margin-left: 3px;
    }
}

.custom-message{
    text-align: center;
    padding: 2rem;
}

.farm-count-container{
    border-bottom: 3px solid #ccc;
    padding: 1rem 4rem;
    display: flex;

    h3{
        margin: 0;
        margin-right: 3rem;
    }
}

.mass-edit-container{
    padding: 1rem 4rem;
    position: sticky;
    top: 0rem;
    background-color: rgb(216, 216, 216);
    z-index: 2;

    >div{
        display: flex;
        align-items: center;
    }

    button{
        font-size: 1rem;
    }

    #select-all-farms{
        margin-right: 1rem;

    }

    .extra-buttons{
        display: none;

        &.show{
            display: inline-flex;
        }

        button{
            margin-right: 1rem;
        }
    }

    .links{
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        display: flex;

        a{
            text-decoration: none;
            color: #4E1E86;
        }

        span{
            color: #4E1E86;
            margin:  0 1rem;
        }
    }


}

.global-container {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: auto;
    column-gap: 20px;
    padding: 0 4rem;
}

.farm-list{
    display: flex;
    flex-direction: column;
}

.ghost{
    background-color: rgb(197, 215, 236);
}

.form-container {
    grid-column: 2 / 3;
    padding: 0 30px;
    border-left: 1px solid #ccc;
    padding-top: 2rem;

    .fix {
        position: sticky;
        top: 5rem;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        label{
            margin-bottom: 20px;
        }

        button{
            margin-bottom: 1rem;
        }
    }

    .export-buttons{
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
        button{
            width: calc(50% - 5px);
        }
    }

    #reset{
        width: 100%;
        display: block;
    }

    .guide{
        margin-top: 50px;
        height: 500px;
        overflow: scroll;

        h3{
            font-size: 1.5rem;
        }

        ul, li, p{
            font-size: 1.1rem;
            line-height: 1.5;
        }

        li{
            margin-top: 1rem;
        }

        .parent-li{
            margin-top: 1.5rem;
        }
    }
}

.radios{
    display: flex;
    margin-top: 10px;
    label{
        margin-right: 2rem;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
    img{
        height: 50px;
    }
}

input, select{
    font-size: 1.1rem;
    padding: 5px;
}

button{
    font-size: 1.2rem;
    padding: 5px;
}

.pop-up{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;

    &#edit-pop-up{
        .container{
            height: 400px; 
            width: 500px;  
        }
    }

    &.open{
        display: block;
    }

    .screen{
        height: inherit;
        width: inherit;
        background-color: rgba(0,0,0,0.4);
    }

    .container{
        position: absolute;
        text-align: center;
        height: 450px;
        width: 600px;
        border: 1px solid #ccc;
        inset: 0;
        margin: auto;
        background-color: white;
        padding: 2rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .pop-close{
            position: absolute;
            right: 1.5rem;
            top: 1rem;
            border: none;
            background-color: white;
            padding: 0;
            font-size: 2rem;
            cursor: pointer;
        }

        h2{
            margin-top: 0;
        }

        .file-type-container{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 2rem;

            label{
                display: inline-flex;
                align-items: center;
                input{
                    margin: 0;
                    margin-right: 5px;
                }
            }
        }
    }

    textarea{
        resize: none;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 95%;
        font-family: 'Courier New', Courier, monospace;
    }

    .radios{
        justify-content: center;
        margin-bottom: 2rem;
    }

    label{
        padding: 5px;
        border: 1px solid #ccc;
    }

    .warning{
        color: red;
        font-size: 1.1rem;
        margin-top: 0;
        line-height: 1.3;
    }
}

.notes-container{
    margin-bottom: 3rem;

    >div{
        display: flex;
        align-items: center;

        &.show{
            >div{
                display: flex;
            }

            .add-color{
                &::before{
                    content: 'Remove Color';
                }
            }
        }

        >div{
            display: none;
            align-items: center;
        }

        .add-color{
            font-size: 1rem;
            margin: 0 10px 0 0;
            &::before{
                content: 'Add Color';
            }
        }

        label{
            margin: 0;
            margin-right: 10px;
            line-height: 1;
            border: unset;
        }

        input{
            appearance: none;
            background: none;
            border: 0;
            cursor: pointer;
            padding: 0;
            height: 30px;
            width: 30px;
            outline: none;
        }
    }

    .farm-notes-label{
        display: block;
        margin-top: 2rem;
        margin-bottom: 0;
        border: unset;

        textarea{
            margin-top: 1rem;
            resize: none;
            font-size: 1rem;
            line-height: 1.3;
            padding: 10px;
            display: block;
            width: 100%;
            font-family: 'Press Start 2P', cursive;
        }
    }
}

#error-handling{
    background-color: rgb(255, 109, 109);
    border: 1px solid red;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
    height: 50px;
    transform: translateY(calc(100% + 5px));
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    p{
        margin: 0;
        text-align: center;
    }

    &.show{
        transform: translateY(0);
    }

    &.error{
        background-color: rgb(255, 109, 109);
        border: 1px solid red;
    }
    &.warning{
        background-color: rgb(220, 202, 82);
        border: 1px solid rgb(255, 225, 0);
    }

}