{% set discordIcon = craft.assets().id(18).one() %}

<div class="app-header grid-child">
    <div>
        <div class="content">
            <h1>{{entry.appHeader}}</h1>
            <div>
                {{entry.appSubheader}}
            </div>
        </div>

        <div class="buttons-container">
            {% include './_components/atoms/button-arrow-right.html' with {type: 'link', link: 'http://discord.gg/pixels', label: 'Discord Channel', class: 'fill-white img-left', img: discordIcon} %}
            {% if howItWorks %}
                {% include './_components/atoms/button-arrow-right.html' with {type: 'button', label: 'How it works?', class: 'fill-white open-pop', data: 'data-pop=about-pop-up'} %}
            {% endif %}
        </div>
    </div>
</div>