<div class="farms">
    <div class="row farm-labels">
        <div class="label input">
            <input type="checkbox" name="" id="">
        </div>
        <div class="label crop"><p class="is-small">Crop</p></div>
        <div class="label number"><p class="is-small">Farm NO.</p></div>
        <div class="label time"><p class="is-small">Time</p></div>
        <div class="label action"><p class="is-small">Action</p></div>
    </div>

    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
</div>