<div class="farms-ui">
    <h5>My Farms</h5>
    <div class="buttons-container">
        <div class="bulk-actions">
            <button class="btn bulk delete" title="delete farms">
                <img src="/assets/images/icons/v2/trash.svg" alt="delete farms">
            </button>
            
            <button class="btn bulk edit" title="edit farms">
                <img src="/assets/images/icons/v2/edit.svg" alt="edit farms">    
            </button>

            <button class="btn bulk start">
                <img src="/assets/images/icons/v2/play-circle.svg" alt="start farms">
            </button>
        </div> 

        <button class="btn fill-white img-left export-farms" title="export farms">
            <img src="/assets/images/icons/v2/exports.svg" alt="export farms">
            Export Farms
        </button>

        <button class="btn fill-white img-right filter-farms" title="filter farms">
            <span>Time:</span> Lowest
            <img src="/assets/images/icons/v2/arrow-down-3.svg" alt="filter farms">
        </button>

    </div>

    <div class="row farm-labels">
        <div class="label input">
            <input type="checkbox" name="" id="">
        </div>
        <div class="label crop"><p class="is-small">Crop</p></div>
        <div class="label number"><p class="is-small">Farm NO.</p></div>
        <div class="label time"><p class="is-small">Time</p></div>
        <div class="label action"><p class="is-small">Action</p></div>
    </div>
</div>