<div class="farms">
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
    {% include './_components/molecules/farm.html' %}
</div>