<div class="farms-ui">
    <h5>My Farms</h5>

    <div class="farm-counter">
        <div>Farms: <span id="farm-count">0</span></div>
        <div>Started: <span id="farms-started">0</span></div>
        <div>Ready: <span id="farms-ready">0</span></div>
    </div>

    <div class="buttons-container">
        <div class="bulk-actions">
            <button class="btn bulk delete" title="delete farms" id="delete-all-farms">
                <img src="/assets/images/icons/v2/trash.svg" alt="delete farms">
            </button>
            
            <button class="btn bulk edit open-pop" data-pop="mass-edit-pop-up" title="edit farms" id="edit-all-farms">
                <img src="/assets/images/icons/v2/edit.svg" alt="edit farms">    
            </button>

            <button class="btn bulk start" title="start farms" id="start-all-farms">
                <img src="/assets/images/icons/v2/play-circle.svg" alt="start farms">
            </button>
        </div> 

        <button class="btn fill-white img-left export-farms" id="export-farms" title="export farms">
            <img src="/assets/images/icons/v2/exports.svg" alt="export farms">
            Export Farms
        </button>

        <button class="btn fill-white img-right filter-farms" id="filter-farms" data-filter="completed" title="filter farms">
            Time:<span>Default</span>
            <img src="/assets/images/icons/v2/filter.svg" alt="filter farms">
        </button>

    </div>

    <div class="row farm-labels">
        <div class="label input">
            <input type="checkbox" id="select-all-farms" name="">
        </div>
        <div class="label crop"><p class="is-small">Crop</p></div>
        <div class="label number"><p class="is-small">Farm NO.</p></div>
        <div class="label time"><p class="is-small">Time</p></div>
        <div class="label action"><p class="is-small">Action</p></div>
    </div>
</div>