<div class="import-farms">
    <h5>Import Farms</h5>
    <form action="/" id="import-farms">
        <div class="file-upload clickImportE">
            <label class="dropzone clickImportE">
                <div class="img-container clickImportE">
                    <img class="clickImportE" src="/assets/images/icons/v2/login.svg" alt="Import">
                </div>
                <p class="is-medium clickImportE"><span>Click here to upload </span> or drag and drop <br>txt, doc, xml or xls file</p>
                <!-- <input type="file" name="import-farms" id="import-farms"> -->
            </label>
        </div>
        <button disabled type="submit" class="submit-form-btn">Import Farm</button>
    </form>
</div>