<div class="import-farms">
    <h5>Import Farms</h5>
    <div class="file-upload">
        <label for="import-farms">
            <div class="img-container">
                <img src="/assets/images/icons/v2/login.svg" alt="Import">
            </div>
            <p class="is-medium"><span>Click here to upload </span> or drag and drop <br>txt, doc, xml or xls file</p>
            <input type="file" name="import-farms" id="import-farms">
        </label>
    </div>
    <button disabled type="submit">Import Farm</button>
</div>