<div class="import-farms">
    <h5>Import Farms</h5>
    <form action="" id="import-farms">
        <div class="file-upload">
            <label class="dropzone" for="file">
                <div class="img-container">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.3" d="M20 14.75L20 9.75C20 7.54086 18.2091 5.75 16 5.75L14 5.75L6 5.75L4 5.75C1.79086 5.75 -7.8281e-08 7.54086 -1.74846e-07 9.75L-3.93402e-07 14.75C-4.89967e-07 16.9591 1.79086 18.75 4 18.75L16 18.75C18.2091 18.75 20 16.9591 20 14.75Z" fill="#2B3F6C"/><path d="M7 10.75L9.29289 13.0429C9.68342 13.4334 10.3166 13.4334 10.7071 13.0429L13 10.75M10 12.75L10 0.75" stroke="#2B3F6C" stroke-width="1.5" stroke-linecap="round"/></svg>
                </div>
                <p class="is-medium "><span>Click here to upload </span> or drag and drop <br>txt file</p>
                <input type="file" name="file" id="file">
            </label>
        </div>
        <button disabled type="submit" class="submit-form-btn">Import Farm</button>
    </form>
</div>
