<div class="mass-edit-container mass-edit-ui">
    <div>
        <button id="select-all-farms" disabled>Select All</button>
        <div class="extra-buttons">
            <button id="delete-all-farms">Delete</button>
            <button id="edit-all-farms" class="open-pop" data-pop="mass-edit-pop-up">Edit</button>
            <button id="start-all-farms">Start</button>
        </div>
        <div class="links">
            <a class="general-store" target="_blank" href="https://play.pixels.online/generalstore">General Store</a>
            <span>|</span>
            <a target="_blank" href="/w3g">W3G Farms</a>
        </div>
    </div>
</div>