<div id="{{id}}" class="pop-up" data-type="{{type}}">
    <div class="screen"></div>
    <div class="container">
        <div class="pop-up-header">
            <h6>{{header}}</h6>
            <button id="close-pop" class="pop-close" aria-label="close popup">
                <img src="/assets/images/icons/v2/close.svg" alt="">
            </button>
        </div>
        {% if content == 'edit-form' %}
            {% include './_components/molecules/edit-form.html'%}
        {% elseif content == 'mass-edit-form' %}
            {% include './_components/molecules/mass-edit-form.html'%}
        {% elseif content == 'import-form' %}
            {% include './_components/molecules/import-form.html'%}
        {% endif %}
    </div>
</div>