<div class="form-container">
    <div class="form-header">
        <h5>Add Farm</h5>
    </div>
    <form action="" class="add-farm" id="add-farm">
        <label for="" class="farm-number-container">
            <p class="is-medium section-label">Farm Number/URL</p>
            <input id="farmNumber" name="farmNumber" type="text" placeholder="1-5000" required>
        </label>
        <div class="radios">
            <p class="section-label is-medium">Select Crop</p>
            <div>
                {% include './_components/atoms/crop-radio.html' with {id: 'popberry', img: '/assets/images/crops/popberry.png', value: 0} %}
                {% include './_components/atoms/crop-radio.html' with {id: 'grumpkin', img: '/assets/images/crops/grumpkin.png', value: 1} %}
                {% include './_components/atoms/crop-radio.html' with {id: 'scarrot', img: '/assets/images/crops/scarrot.png', value: 2} %}
            </div>
        </div>
        <div class="color-container">
            <p class="section-label is-medium" >Add Color</p>
            <div>
                <div class="color-indicator">
                    <div></div>
                </div>
                <div class="colors-grid">
                    {% include './_components/atoms/color-picker-radio' with {id: 'black', color: '#000'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'lavander', color: '#B189FE'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'pink', color: '#EE709E'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'purple', color: '#4E18B2'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'light-pink', color: '#D8C8FE'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'orange', color: '#FFAC01'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'salmon', color: '#FF8C82'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'red', color: '#FF4115'} %}
                    {% include './_components/atoms/color-picker-radio' with {id: 'coral', color: '#FE6250'} %}
                </div>
                <!-- <button type="button" class="add-color"></button> -->
                <!-- <div>
                    <label for="farm-color" class="farm-color-label">Identifier color</label>
                    <input class="farm-color-input" type="color" name="farmColor" data-color="null"
                        value="#e66465" id="farm-color">
                </div> -->
            </div>
        </div>
        <div class="notes-container">
            <label for="farm-notes" class="farm-notes-label">
                <span>Farm Notes</span>
                <textarea name="farmNotes" id="farm-notes" cols="30" rows="3"></textarea>
            </label>
        </div>
        <button type="submit">Add Farm</button>
    </form>
</div>