<form action=""  class="edit-farms" id="mass-edit-farm-form">
    <input type="text" value="arr" name="objtype" hidden>
    <input class="farmInput" type="text" value="" name="farm" hidden>
    <div class="fields">
        {% include './_components/molecules/add-crop.html' with {id: 'mass-edit-farm-crop', required: true} %}

        {#{% include './_components/molecules/add-color.html' with {extra: true, id: 'mass-edit-farm-color'} %}#}

        {#{% include './_components/molecules/add-notes.html' %}#}
    </div>
    <div class="button">
        <button type="submit" class="submit-form-btn">
            <img src="/assets/images/icons/v2/save.svg" alt="">
            Save
        </button>
    </div>
</form>