<div class="settings">
    <div>
        <div class="input-container">
            <input type="checkbox" class="setting-input" name="open-iframe" id="open-iframe">
            <label for="open-iframe"><p>Open game in new tab</p></label>
        </div>
        <p class="disclaimer">Having this unchecked will not allow bulk opening</p>
        <!-- <p class="red" >Opening game inside app is disabled for now until further notice.</p> -->
    </div>
    <br>
    <div>
        <div class="input-container">
            <input type="checkbox" name="dark-mode" id="dark-mode">
            <label for="dark-mode"><p>Dark Mode</p></label>
        </div>
    </div>
</div>